<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Optimize</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" type="text/css"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.css" rel="stylesheet" type="text/css"/>
  <style type="text/css">
    body {margin: 0; padding: 0; overflow: hidden;}
    #legend {position: fixed; bottom: 0; left: 0;}
    #ad {
      position: fixed;
      bottom: 0;
      width: 468px;
      left: calc(-50vw + 50%);
      right: calc(-50vw + 50%);
      margin-left: auto;
      margin-right: auto;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app id="explore">
      <div>
        <v-toolbar class="grey darken-4" dark>
          <v-layout row wrap align-center>
            <v-flex xs8 pa-2><v-text-field v-model="point" type="string" prepend-icon="place"></v-text-field></v-flex>
            <v-flex xs1 pa-2><v-btn v-on:click.native="go()" class="grey darken-3">Go</v-btn></v-flex>
            <v-flex xs1 pa-2><v-select v-model="mode" :items="modes" prepend-icon="directions"></v-select></v-flex>
            <v-flex xs1 pa-2><v-text-field v-model="density" type="number" min="1" max="25" prepend-icon="grid_on"></v-text-field></v-flex>
            <v-flex xs1 pa-2><v-btn v-on:click.native="explore()" :disabled="exploring" :loading="exploring" class="grey darken-3">Explore</v-btn></v-flex>
          </v-layout>
        </v-toolbar>
        <v-dialog v-model="exploring" hide-overlay persistent width="300">
          <v-card color="gray" dark>
            <v-card-text>
              Please stand by
              <v-progress-linear v-model="progress" color="white"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
      <div id="map"></div>
      <div id="legend">
        <svg version="1.1" baseProfile="full" width="200" height="600" xmlns="http://www.w3.org/2000/svg">
          <rect x="25" y="55" width="150" height="520" style="fill:#FFFFFFFF; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="80" text-anchor="middle" style="font-family: Arial;">max. minutes</text>
          <rect x="50" y="100" width="100" height="50" style="fill:#0000FF80; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="130" text-anchor="middle" style="font-family: Arial;">&lt; 10</text>
          <rect x="50" y="150" width="100" height="50" style="fill:#0080FF80; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="180" text-anchor="middle" style="font-family: Arial;">10-15</text>
          <rect x="50" y="200" width="100" height="50" style="fill:#00FFFF80; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="230" text-anchor="middle" style="font-family: Arial;">15-20</text>
          <rect x="50" y="250" width="100" height="50" style="fill:#00FF0080; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="280" text-anchor="middle" style="font-family: Arial;">20-25</text>
          <rect x="50" y="250" width="100" height="50" style="fill:#00FF0080; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="280" text-anchor="middle" style="font-family: Arial;">20-25</text>
          <rect x="50" y="300" width="100" height="50" style="fill:#FFFF0080; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="330" text-anchor="middle" style="font-family: Arial;">25-30</text>
          <rect x="50" y="350" width="100" height="50" style="fill:#FF800080; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="380" text-anchor="middle" style="font-family: Arial;">30-35</text>
          <rect x="50" y="400" width="100" height="50" style="fill:#FF000080; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="430" text-anchor="middle" style="font-family: Arial;">35-40</text>
          <rect x="50" y="450" width="100" height="50" style="fill:#FF00FF80; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="480" text-anchor="middle" style="font-family: Arial;">40-45</text>
          <rect x="50" y="500" width="100" height="50" style="fill:#00000080; stroke:none; stroke-width:0;"></rect>
          <text x="100" y="530" text-anchor="middle" style="font-family: Arial;">&gt; 45</text>
        </svg>
      </div>
      <div id="ad"><iframe data-aa="1185587" src="//ad.a-ads.com/1185587?size=468x60" scrolling="no" style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe></div>
    </v-app>
  </div>

  <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=run" async defer></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.5.14/vuetify.min.js"></script>
  <script type="text/javascript">
    var data = {
      point: "2 Kingdom St, London W2 6BD, UK",
      mode: "Transit",
      modes: ["Transit", "Driving", "Walking"],
      density: 10,
      exploring: false,
      progress: 0
    };

    new Vue({
      el: '#app',
      data: data
    });

    var map = null;
    var directions = null;
    var search = null;
    var bounds = null;
    var step = 0;
    var batch = null;
    var heartbeat = (new Date()).getTime();

    function watchdog(){
      var now = (new Date()).getTime();
      if(data.exploring && now - heartbeat > 10000){
        console.log("Woof!");
        run();
        trigger();
      }
    }

    setInterval(watchdog, 10000);
    
    function run(){
      map = new Microsoft.Maps.Map(document.getElementById("map"), {zoom: 11, credentials: "AlkNKIhqEsPalkMnMQyAAzx4Rm2c9UV-NxGXqOZJAeiVUSsAOK3-cBtRw1awU566"});
      map.setOptions({showMapTypeSelector: false});
      Microsoft.Maps.loadModule(["Microsoft.Maps.Directions", "Microsoft.Maps.Search", "Microsoft.Maps.SpatialMath", "Microsoft.Maps.GeoXml"], function () {
        search = new Microsoft.Maps.Search.SearchManager(map);
        directions = new Microsoft.Maps.Directions.DirectionsManager(map);
        Microsoft.Maps.Events.addHandler(directions, "directionsError", directionsError);
        Microsoft.Maps.Events.addHandler(directions, "directionsUpdated", directionsUpdated);
      });
    }

    function mode(textual){
      switch(textual){
        case "Driving":
          return Microsoft.Maps.Directions.RouteMode.driving;
        case "Transit":
          return Microsoft.Maps.Directions.RouteMode.transit;
        case "Walking":
          return Microsoft.Maps.Directions.RouteMode.walking;
      }
    }

    function go(){
      var callback = function(reply){
        var location = reply.results[0].location;
        location = new Microsoft.Maps.Location(location.latitude, location.longitude);
        map.setView({center: location});
      };
      search.geocode({where: data.point, callback: callback});
    }

    function explore(){
      data.progress = 0;
      data.exploring = true;
      map.entities.clear();
      lookup();
    }

    function lookup(){
      search.geocode({where: data.point, callback: located});
    }

    function located(reply){
      var location = reply.results[0].location;
      location = new Microsoft.Maps.Location(location.latitude, location.longitude);
      data.location = location;
      var pin = new Microsoft.Maps.Pushpin(location);
      map.entities.push(pin);
      initiate();
    }

     function initiate(){
      batch = {
        index: 0,
        array: []
      };
      bounds = map.getBounds();
      step = Math.min(bounds.height, bounds.width) / data.density;
      populate();
      trigger();
     }

    function populate(){
      for(var y = 0; y < bounds.height / step; y++){
        for(var x = 0; x < bounds.width / (2 * step); x++){
          var origin =  new Microsoft.Maps.Location(
            bounds.center.latitude + (bounds.height / 2) - (y + 0.5) * step,
            bounds.center.longitude - (bounds.width / 2) + (x + 0.5) * (2 * step));
          var job = {
            x: x,
            y: y,
            origin: origin,
            destination: data.location,
            mode: data.mode
          };
          batch.array.push(job);
        }
      }
    }

    function trigger(){
      heartbeat = (new Date()).getTime();
      directions.clearAll();
      directions.setRequestOptions({routeMode: batch.array[batch.index].mode, distanceUnit: Microsoft.Maps.SpatialMath.DistanceUnits.Kilometers});
      directions.setRenderOptions({autoUpdateMapView: false});
      var origin = new Microsoft.Maps.Directions.Waypoint({location: batch.array[batch.index].origin});
      var destination = new Microsoft.Maps.Directions.Waypoint({location: batch.array[batch.index].destination});
      directions.addWaypoint(origin);
      directions.addWaypoint(destination);
      directions.calculateDirections();
    }

    function directionsUpdated(event) {
      var routeIdx = directions.getRequestOptions().routeIndex;
      var timeWithTraffic = Math.round(event.routeSummary[routeIdx].timeWithTraffic / 60);
      var timeWithoutTraffic = Math.round(event.routeSummary[routeIdx].time / 60);
      onward(Math.max(timeWithTraffic, timeWithoutTraffic));
    }

    function directionsError(error) {
      console.error("Error: " + error.message + "\r\nResponse Code: " + error.responseCode);
      onward(Infinity);
    }

    function onward(time){
      update();
      batch.array[batch.index].time = time;
      batch.index++;
      if(batch.index < batch.array.length){
        trigger();
      }else{
        aggregate();
      }
    }

    function update(){
      data.progress = 100 * batch.index / batch.array.length;
    }

    function aggregate(){
      var polygons = "";
      for(var index = 0; index < batch.array.length; index++){
        var time = batch.array[index].time;
        var styled = style(time);
        var spot = batch.array[index].origin;
        var squared = square(spot);
        polygons += polygon(styled, squared);
      }
      var kml = wrap(polygons);
      var layer = new Microsoft.Maps.GeoXmlLayer(kml);
      layer.setOptions({autoUpdateMapView: false});
      map.layers.clear();
      map.layers.insert(layer);
      // download("overlay.kml", kml);
      finish();
    }

    function style(time){
      var styled = "time50";
      if(time >= 45){
        styled = "time50";
      }else if(time >= 40){
        styled = "time45";
      }else if(time >= 35){
        styled = "time40";
      }else if(time >= 30){
        styled = "time35";
      }else if(time >= 25){
        styled = "time30";
      }else if(time >= 20){
        styled = "time25";
      }else if(time >= 15){
        styled = "time20";
      }else if(time >= 10){
        styled = "time15";
      }else{
        styled = "time10";
      }
      return styled;
    }

    function square(spot){
      var squared = {};
      var ne = new Microsoft.Maps.Location(spot.latitude + 0.5 * step, spot.longitude + step);
      squared.neLon = ne.longitude;
      squared.neLat = ne.latitude;
      var se = new Microsoft.Maps.Location(spot.latitude - 0.5 * step, spot.longitude + step);
      squared.seLon = se.longitude;
      squared.seLat = se.latitude;
      var sw = new Microsoft.Maps.Location(spot.latitude - 0.5 * step, spot.longitude - step);
      squared.swLon = sw.longitude;
      squared.swLat = sw.latitude;
      var nw = new Microsoft.Maps.Location(spot.latitude + 0.5 * step, spot.longitude - step);
      squared.nwLon = nw.longitude;
      squared.nwLat = nw.latitude;
      return squared;
    }

    function polygon(styled, squared){
      var placemark = `
<Placemark>
    <styleUrl>#${styled}</styleUrl>
    <Polygon>
      <altitudeMode>clampToGround</altitudeMode>
      <outerBoundaryIs>
        <LinearRing>
          <coordinates>
            ${squared.neLon},${squared.neLat},0
            ${squared.seLon},${squared.seLat},0
            ${squared.swLon},${squared.swLat},0
            ${squared.nwLon},${squared.nwLat},0
          </coordinates>
        </LinearRing>
      </outerBoundaryIs>
    </Polygon>
  </Placemark>
`;
      return placemark;
    }

    function wrap(polygons){
      var kml = `<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
<Document>
  <Style id="time10"><PolyStyle><color>70FF0000</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Dark blue -->
  <Style id="time15"><PolyStyle><color>70FF8000</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Light blue -->
  <Style id="time20"><PolyStyle><color>70FFFF00</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Cyan -->
  <Style id="time25"><PolyStyle><color>7000FF00</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Green -->
  <Style id="time30"><PolyStyle><color>7000FFFF</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Yellow -->
  <Style id="time35"><PolyStyle><color>700080FF</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Orange -->
  <Style id="time40"><PolyStyle><color>700000FF</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Red -->
  <Style id="time45"><PolyStyle><color>70FF00FF</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Magenta -->
  <Style id="time50"><PolyStyle><color>70000000</color><fill>1</fill><outline>0</outline></PolyStyle></Style><!-- Black -->
${polygons}
</Document>
</kml>`;
      return kml;
    }

    function download(filename, text) {
      var element = document.createElement("a");
      element.setAttribute("href", "data:text/plain;charset=utf-8," + encodeURIComponent(text));
      element.setAttribute("download", filename);
      element.style.display = "none";
      document.body.appendChild(element);
      element.click();
      document.body.removeChild(element);
    }

    function finish(){
      directions.clearAll();
      data.exploring = false;
    }
  </script>
</body>
</html>
