awscli==1.18.71
bandit==1.6.2
boto3==1.13.21
Cython==0.29.19
flake8==3.8.1
matplotlib==3.2.1
numpy==1.18.4
pandas==1.0.4
Pillow==7.1.2
pycodestyle==2.6.0
pylint==2.5.2
scikit-learn==0.23.1
scipy==1.4.1
