version: '3.3'
services:
  service:
    container_name: service
    restart: always
    image: $CONTAINER_REGISTRY.azurecr.io/service:$CONTAINER_IMAGE_TAG
    volumes:
      - $STORAGE_VOLUME:/web
    ports:
      - "80:80"
