{
    "$schema": "http://json.schemastore.org/proxies",
    "proxies": {
$ENTRIES
        "proxyroot": {
            "matchCondition": {
                "route": "/",
                "methods": [
                    "GET"
                ]
            },
            "responseOverrides": {
                "response.statusCode": "302",
                "response.headers.Location": "https://$APP.azurewebsites.net/index.html"
            }
        }
    }
}
