
        "$FILE": {
            "matchCondition": {
                "route": "$FILE",
                "methods": [
                    "GET"
                ]
            },
            "backendUri": "$URL"
        },
