[Unit]
Description=minikube
After=network-online.target docker.service
Wants=network-online.target docker.service
Requires=docker.socket docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/minikube start --driver=docker --container-runtime=docker --gpus all --cpus=no-limit --memory=no-limit --mount-string="{{ lookup('env','HOME') }}/.minikube_shared:/shared"
ExecStop=/usr/local/bin/minikube stop
StandardOutput=journal
User={{ kubernetes_user.stdout }}
Group={{ kubernetes_group.stdout }}

[Install]
WantedBy=multi-user.target
