[Unit]
Description=Gitlab CI Runner
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1s
ExecStartPre=-/usr/bin/docker kill gitlab-ci-runner
ExecStartPre=-/usr/bin/docker rm -f gitlab-ci-runner
ExecStartPre=/usr/bin/docker pull gitlab/gitlab-runner:alpine
ExecStart=/bin/sh -c "/usr/bin/docker run \
  --name gitlab-ci-runner \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /etc/gitlab-runner:/etc/gitlab-runner \
  -v /root/.docker/config.json:/root/.docker/config.json:ro \
  gitlab/gitlab-runner:alpine"
ExecStop=/usr/bin/docker stop -t 60 gitlab-runner
TimeoutSec=300

[Install]
WantedBy=default.target
