[Unit]
Description=Gitlab Server
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=1s
ExecStartPre=-/usr/bin/docker kill gitlab-server
ExecStartPre=-/usr/bin/docker rm -f gitlab-server
ExecStartPre=/usr/bin/docker pull gitlab/gitlab-ce:latest
ExecStart=/bin/sh -c "/usr/bin/docker run \
  --name gitlab-server \
  --hostname {{ gitlab_server_fqdn }} \
  --publish 443:443 --publish 80:80 --publish 8822:22 \
  --restart always \
  --env GITLAB_OMNIBUS_CONFIG=\"external_url 'https://{{ gitlab_server_fqdn }}/'; gitlab_rails['lfs_enabled'] = true; mattermost_external_url 'http://{{ gitlab_server_fqdn }}/'; gitlab_rails['gitlab_shell_ssh_port'] = 8822; nginx['ssl_certificate'] = '/etc/letsencrypt/live/{{ gitlab_server_fqdn }}/fullchain.pem'; nginx['ssl_certificate_key'] = '/etc/letsencrypt/live/{{ gitlab_server_fqdn }}/privkey.pem';\" \
  --volume /srv/gitlab/config:/etc/gitlab:Z \
  --volume /srv/gitlab/logs:/var/log/gitlab:Z \
  --volume /srv/gitlab/data:/var/opt/gitlab:Z \
  --volume /etc/letsencrypt:/etc/letsencrypt:Z \
  --volume /etc/localtime:/etc/localtime \
  gitlab/gitlab-ce:latest"
ExecStop=/usr/bin/docker stop -t 60 gitlab-server
TimeoutSec=300

[Install]
WantedBy=default.target
